{# 
 * I display responses from the application.
 *
 * @author John Allen
 * @version 1.0
#}
{% set output = app.session.flashbag.get('response') %}
{% if output|length > 0  %}
<div class="alert alert-{{ output[0]['type'] }}  alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	{{ output[0]['message'] }}
</div>
{% endif %}
