{#
 * I am the may layout file. Other views extend me.
 *
 * @author John Allen
 * @version 1.0
#}
{% include 'shared/documentdeclaration.html.twig' %}
<head>
<meta charset="UTF-8" />
<title>Cats</title>
{% include 'shared/scripts.html.twig' %}
</head>
<body>
{% include 'shared/menu.html.twig' %}
{% include 'shared/response.html.twig' %}
{% block content %}{% endblock %}
{% include 'shared/footer.html.twig' %}
</body>
</html>