{#
 * I am the may layout file. Other views extend me.
 *
 * @author John Allen
 * @version 1.0
#}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>My ToDo</title>
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<script type="text/javascript" src="{{ asset('js/jquery-2.1.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
</head>
<body>
{% include 'todo/menu.html.twig' %}
{% include 'shared/response.html.twig' %}
{% block content %}{% endblock %}
{% include 'todo/footer.html.twig' %}
</body>
</html>